.footer {
	padding: 32px 0px;
	background-color: $black;

	&__copywrite {
		text-align: center;
		line-height: 31px;
		letter-spacing: .4px;
		font-family: 'Futura';
		font-size: 24px;
		color: $white;

		@include medium {
			line-height: 23px;
			font-size: 18px;
		}

		@include mini {
			line-height: 18px;
			font-size: 14px;		}
	}

	@include medium {
		padding: 17px 0px;
	}

	@include mini {
		padding: 11px 0px;
	}
}
